<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>

<!--Main Content Section-->
<main class="container">
    &nbsp;
    <div class="card bg-dark">
        <h5 class="card-header">About Me</h5>
        <div class="card-body">
            <div class="row d-flex justify-content-center w-100" style="border-radius: 5px;">
                <div class="col-1"></div>
                <div class="col-3" style="max-width: 100%;">
                    <img class="img-responsive" src="Assets/images/aboutPhoto.jpg" style="max-height:30vh;">
                </div>
                <div class="col-7">
                    <div class="row d-flex justify-content-center w-100">
                        <div class="col">
                            <p>
                                Hi, I'm Michael Gailling, but please call me Mike. I solve practical problems.
                                I have some experience protoyping user interfaces in C#, python, and html/javascript.
                                I have also done web app development using django and asp.net core.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <a class="foregroundLink" href="Assets/documents/MichaelGailling.pdf">Please check out my resume for additional details!</a>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </div>
</main>

<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>