<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>

<!--Main Content Section-->
<main class="container">
    &nbsp;
    <div class="card bg-dark">
        <h5 class="card-header">Projects</h5>
        <div class="card-body">
            <div id="carouselControls" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="d-flex justify-content-center w-100">
                            <div class="col-1"></div>
                            <div class="col" style="max-width: 100%;">
                                <img src="Assets/images/projectsPokeball.jpg"  alt="3D printed pokeball" style="max-width: 20vw;">
                            </div>
                            <div class="col">
                                    <h3>3D Printed Pokeball</h3>
                                    <p>
                                        A 3D printed pokeball created on commision for cosplay purposes. 
                                        It was designed in open scad and printed in red, white, and black ABS plastic.
                                    </p>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div>
        
                    <div class="carousel-item">
                        <div class="d-flex justify-content-center w-100">
                            <div class="col-1"></div>
                            <div class="col">
                                <img src="Assets/images/projectsTurboTriangle.png"  alt="Turbo Triangle" style="max-width: 20vw;">
                            </div>
                            <div class="col">
                                    <h3>Turbo Triangle</h3>
                                    <p>
                                        Turbo Triangle was a simple wire frame 3D rendering. 
                                        Written in js before classes were introduced it is unlikely I will recycle the code. 
                                        The phaser.js game library was used to project the graphics.
                                    </p>
                            </div>
                            <div class="col-1"></div>
                        </div>    
                    </div>

                    <div class="carousel-item">
                        <div class="d-flex justify-content-center w-100">
                            <div class="col-1"></div>
                            <div class="col">
                                <img src="Assets/images/logicprobe.jpg"  alt="Turbo Triangle" style="max-width: 20vw;">
                            </div>
                            <div class="col">
                                    <h3>Logic Probe</h3>
                                    <p>
                                        An extremely easy to make and affordable logic probe. 
                                        Useful for low voltage digital circuitry troubleshooting.
                                        Costs less than $5 to make, some assembly required. 
                                    </p>
                            </div>
                            <div class="col-1"></div>
                        </div>    
                    </div>
        
                </div>
                <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    

</main>

<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>