<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>

<!--Main Content Section-->
<main class="container">
  <div class="jumbotron foregroundColor">
    <h3>Services</h3>
        <div class="card bg-dark">
            <h5 class="card-header">Web App Development</h5>
            <div class="card-body">
                <p class="card-text">
                    Would you like a brand new website or perhaps a web app?
                    Get in touch we can discuss pricing.
                </p>
            </div>
        </div>
        &nbsp;
        <div class="card bg-dark">
            <h5 class="card-header">3D Modeling</h5>
            <div class="card-body">
                <p class="card-text">
                    Do you have an idea for a 3D printable object? 
                    I can turn a sketch into a ready to printa STL file.
                </p>
            </div>
        </div>
        &nbsp;
        <div class="card bg-dark">
            <h5 class="card-header">3D Printing</h5>
            <div class="card-body">
                <p class="card-text">
                    Do you already have an STL file? I can make your 3D object for you. 
                    Material and labor costs apply.
                </p>
            </div>
        </div>
  </div>
</main>

<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>