<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>

<!--Main Content Section-->
<main class="container">
  <div class="jumbotron foregroundColor">
    <h1>Welcome to the <%= title %> page.</h1>
  </div>
</main>

<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>