<% include ../partials/header.ejs %>
<% include ../partials/main_nav.ejs %>

<!--Main Content Section-->
<main class="container">
    &nbsp;
    <div class="card bg-dark">
        <h5 class="card-header">Services</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <img style="max-width: 10vw;" src="assets/images/webdev.png">
                </div>
                <div class="col-9">
                    <p class="card-text">
                        Would you like a brand new website or perhaps a web app?
                        Get in touch we can discuss pricing.
                    </p>
                </div>
            </div>
            <div class="row">
                &nbsp;
            </div>
            <div class="row">
                <div class="col-3">
                    <img style="max-width: 10vw;" src="assets/images/grapple.png">
                </div>
                <div class="col-9">
                    <p class="card-text">
                        Do you have an idea for a 3D printable object? 
                        I can turn a sketch into a ready to print STL file.
                    </p>
                </div>
            </div>
            <div class="row">
                &nbsp;
            </div>
            <div class="row">
                <div class="col-3">
                    <img style="max-width: 10vw;" src="assets/images/pokedexmodel.jpg">
                </div>
                <div class="col-9">
                    <p class="card-text">
                        Do you already have an STL file? I can make your 3D object for you. 
                        Material and labor costs apply.
                    </p>
                </div>
            </div>
        </div>
    </div>
        
</main>

<% include ../partials/bottom_nav.ejs %>
<% include ../partials/footer.ejs %>